*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Josefin Sans';
	background-color: #fffafb;
	font-size: 1.6rem;
}

.right-arrow,
.left-arrow {
	position: absolute;
	bottom: -2rem;
	right: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	color: #ff2625;
	font-size: 2.5rem;
	outline: none;
	border: none;
	border-radius: 0.4rem;
	transform: scale(1, 1);
	transition: 0.3s all ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(1.3, 1.3);
	}
}

.right-arrow {
	right: 14rem;
}

// .right-arrow:hover,
// .left-arrow:hover {
// 	transform: scale(1.3, 1.3);
// }

.react-horizontal-scrolling-menu--wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.detail-image {
	width: 50%;
	height: 75rem;
}

.hero-banner-img {
	position: absolute;
	right: 4rem;
	top: 0px;
	width: 65rem;
	height: 90rem;
	margin-top: -30rem;
}

.exercise-card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 40rem;
	height: 44rem;
	padding-bottom: 1rem;
	background: #fff;
	border-top: 4px solid #ff2625;
	text-decoration: none;
	transform: scale(1, 1);
	transition: 0.3s all ease-in-out;
}

.exercise-card img {
	height: 32.5rem;
}

.bodyPart-card {
	transform: scale(1, 1);
	transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
	transform: scale(1.1, 1.1);
}

.search-btn:hover {
	color: #ff2625;
	border: 1px solid #ff2625;
}

.exercise-video {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 39rem;
	height: 38rem;
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.detail-image {
		width: 40rem;
		height: 40rem;
	}

	.hero-banner-img {
		display: none;
	}

	.exercise-card {
		width: 30rem;
	}

	.exercise-video {
		width: 32rem;
		height: 30rem;
	}
}

@media screen and (max-width: 400px) {
	.exercise-card {
		width: 28rem;
	}

	.detail-image {
		width: 30rem;
		height: 30rem;
	}
}
